*{
    margin: 0;
    padding: 0;
}

body, #render-canvas {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    outline: none;
    font-family: "Rubik Mono One", monospace;
}

#ui{
    position: fixed;
    margin: 0 auto;
    padding: 0;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    background-color: black;
}



button{
    background-color: black;
    color: white;
    border-color:black;
    font-family: "Rubik Mono One", monospace;
    margin:0;
    padding: 0;
    width: 100px;
    height: 32px;
    border: 0px black solid;
}

#tank{
    left: 15vw;
    width: 30vw;
    height: 5vh;
}

#plane{
    width: 30vw;
    height: 5vh;
}

#katyusha{
    width: 30vw;
    height: 5vh;
}

dialog{
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: black;
    font-family: "Rubik Mono One", monospace;
}
